*{
	margin: 0px auto;
	padding: 0;
}
.calculator_container{

}
.buttons_row1{
	display: inline-block;
	float: left;
}
.buttons_row2{
	 
	

}
body{
	background-color: red;
}
ul{
	list-style-type: none;
}
button{
	 height: 50px;
	 width: 50px;
	 display: inline-block;
}
